$clr-primary: #01d595;
$clr-secondary: #b862ed;
$clr-bg: #fff;
$clr-text: #000;
$clr-bg-dark: #4A4A4A;
$clr-switch-off: #D8D8D8;
$clr-border: #DEDEDE;
$clr-overlay: rgba(#000, 0.18);
$default-font-family: 'Open Sans', sans-serif;
$w-medium: 500;
$w-bold: 700;
$button-border-radius: 6px;
$breakpoints: (
    'phone': 375px,
    'tablet': 768px,
    'desktop': 1024px
);
